nav{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px 40px;
    position: absolute;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-bottom: 0;
}
a{
    color: black !important;
    text-decoration: none !important;
}